.container{
  margin:auto;
  background-color: #0e4260;
  text-align: center;
  width: 25%;
  border-radius: 15px;
  height: 400px;
  margin-top: 5%;
  padding-top: 50px;
}
.tempContainer{
  background-color: #195ba5;
  color: #fff;
  width: 50%;
  margin: auto;
  padding: 30px;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 150px;
}
.operator{
  display: flex;
  color: #fff;
  justify-content:space-evenly;
  margin-top: 35px;

}
.temp{
  font-size: 40px;
}
.heading{
  text-align: center;
  margin-top: 5%;
  color:#0e4260;
}
.operation{
  background-color: #949ca5;
  border: 2px solid #fff;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  cursor: pointer;
  font-size: 40px;
}
.cold{
  background-color: rgb(127, 69, 182);
}
.hot{
  background-color: orangered;
}
.neutral{
  background-color: #b8babd;
}
